<!-- views/index.ejs 完整修正代码 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" 
          content="default-src 'self';
                   script-src 'self' 'sha256-<%= hashes.socket_handler.js %>' 'sha256-<%= hashes.card_renderer.js %>';
                   style-src 'self';
                   img-src 'self' data:;
                   form-action 'self'">
    <title>锄大地 Online</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 保持原有页面结构 -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket_handler.js" integrity="sha256-<%= hashes.socket_handler.js %>"></script>
    <script src="/js/card_renderer.js" integrity="sha256-<%= hashes.card_renderer.js %>"></script>
</body>
</html>
